<main>
<div class="wrapper-about">
    <h1 class="name">Matthew Maeda</h1>
    <hr class="line">
    <h2>Experience</h2>
    <div class="experience">
        <div class="wrapper-skills">
            <h3 class="title-skills">SKILLS</h3>
              <ul>
                  <li class="skill-percentage html">HTML / HTML5</li>
                  <div class="progress">
                    <div class="progress-value html"></div>
                  </div>
                  <li class="skill-percentage css">CSS</li>
                           <div class="progress">
                    <div class="progress-value css"></div>
                  </div>
                  <li class="skill-percentage javascript">Javascript</li>
                           <div class="progress">
                    <div class="progress-value javascript"></div>
                  </div>
                  <li class="skill-percentage angular">Angular</li>
                           <div class="progress">
                    <div class="progress-value angular"></div>
                  </div>
                  <li class="skill-percentage node">node.js</li>
                           <div class="progress">
                    <div class="progress-value node"></div>
                  </div>
                  <li class="skill-percentage git">git</li>
                           <div class="progress">
                    <div class="progress-value git"></div>
                  </div>
                  <li class="skill-percentage github">Github</li>
                           <div class="progress">
                    <div class="progress-value github"></div>
                  </div>
              </ul>
        </div>
        <div class="about-me">
            <div>
                <h1>Front End Web Developer</h1>
                <p>Passionate about learning and eager to bring value to an establishment that values hard work and commitment to quality.</p>
            </div>
            <div>
                <h1>Education</h1>
                <p>Grand Valley State University: Coursework programming languages included: HTML, CSS, Java, and Visual Basic using Visual Studio & BlueJ.</p>
                <p>Trained in website development in various programming languages, wide range of methodologies, angular framework and other unique skills.</p>
            </div>
        </div>
    </div>
</div>
</main>