<main [routerLink]="['/portfolio']" routerLinkActive="router-link-active">
    <div class="content">
                    <div class="grid">
                        <figure class="box">
                            <img src="assets/openroads.png" alt="openroads"/>
                            <figcaption>
                                <div>
                                    <h2 style="color: #000;">App: <span> Open Roads</span></h2>
                                    <p style="color: #000;">Our final group project.</p>
                                </div>
                            </figcaption>			
                        </figure>
                        <figure class="box">
                            <img src="assets/trivia.png" alt="trivia"/>
                            <figcaption>
                                <div>
                                    <h2>App: <span> Trivia</span></h2>
                                    <p>A Trivia app game.</p>
                                </div>
                            </figcaption>			
                        </figure>
                    </div>
                    <div class="grid">
                        <figure class="box">
                            <img src="assets/urkernalapp.png" alt="img12"/>
                            <figcaption>
                                <div>
                                    <h2>Web: <span> Urkernal</span></h2>
                                    <p>A Movie listing website</p>
                                </div>
                            </figcaption>			
                        </figure>
                        <figure class="box">
                            <img src="assets/budget.png" alt="img1"/>
                            <figcaption>
                                <div>
                                    <h2>App: <span> Budget</span></h2>
                                    <p>A simple budgeting app.</p>
                                </div>
                            </figcaption>			
                        </figure>
                        <div class="space"></div>
                    </div>


                </div>
</main>