<header>
    <div class="wrapper-navbar">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"><img id="logo-img" alt="logo" src="assets/logo.png"></a>
        <nav>
            <ul class="navigation">
                <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">featured</a></li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">about</a></li>
                <li><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">portfolio</a></li>
                <li><a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><i class="fas fa-envelope fa-lg"></i></a></li>
                <li><a href="https://www.linkedin.com/in/matthew-maeda-dev/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
                <li><a href="https://github.com/MatthewMaeda" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                <li><a href="https://grand-circus.slack.com/team/UMQMJSJ8N" target="_blank"><i class="fab fa-slack fa-lg"></i></a></li>
            </ul>
        </nav>
    </div>
</header>