<main [routerLink]="['/home']" routerLinkActive="router-link-active">
    <div class="wrapper-main">
        <div class="animated-background">
            <ul class="animated-area">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

    <div class="grid">
        <div class="item" tabindex="1">
            <div class="box">
                <figure class="profile red">
                    <img src="assets/profile.png" alt="profile" />
                    <figcaption>
                      <h2>Matthew  <span> Maeda</span></h2>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="item" tabindex="2">
            <div class="box feat">
                <figure class="featured">
                    <img id="urkernal" src="assets/urkernal.png" alt="urkernal"/>
                    <figcaption>
                            <h2>Featured Project: <span>Urkernal</span></h2>
                            <p>With a team of four at Grand Circus, we made this project that calls a API that contains movie information. With this information, we could manipulate it to create a Movie API website.</p>
                    </figcaption>           
                </figure>
            </div>
        </div>
        <div class="item" tabindex="3">
            <div class="box space">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-js-square"></i>
                <i class="fab fa-angular"></i>
                <i class="fab fa-node-js"></i>
                <i class="fab fa-git"></i>
                <i class="fab fa-github"></i>
            </div>
        </div>
    </div>
    </div>
</div>
</main>